.container{
   /* height:500px;
    border:2px solid red;*/
    padding-top:100px;
    text-align: center;

}
.child-1{
    
    display: inline-block;
     width: 300px;
    height: 600px;
    margin:10px;
    padding-right: 25px;
    
}
.child-2{
    display: inline-block;
    justify-content: center;
     width: 300px;
    height: 600px;
    margin:10px;
    padding-right: 25px;
    
}
.child-3{
    display: inline-block;
     width: 300px;
    height: 600px;
    margin:10px;
    padding-right: 25px;
    
}
.child-4{
    display: inline-block;
    width: 300px;
    height: 600px;
    margin:10px;
    padding-right: 25px;
    
}
img{
    width:100%;
    
}